body
{
    text-align: center;
}
.container{
  background-color: rgb(241, 178, 233);  
}
#app {
    background-color: rgb(232, 145, 238);
}

#myCarousel
{
    background-color: rgb(247, 92, 247)(255, 0, 242);
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : rgb(229, 114, 245);
    font-size: 20px;
}
